:root {
  --carousel-height: 70vh;
  --backdrop: rgba(0, 0, 0, 0.7);
  --border-radius: 0.5rem;
  --shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.5);
  --timeline-color: rgba(255, 255, 255, 0.5);
  --timeline-active-color: white;
  --text-xs: 0.7rem;
  --margin-lg: 2rem;
}

.carousel__container {
  height: var(--carousel-height);
  display: flex;
  align-items: end;
  position: relative;
  overflow-x: hidden;
}

.carousel__image {
  position: absolute;
  height: var(--carousel-height);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}

.carousel__body {
  text-align: center;
  display: grid;
  place-items: center;
  margin-bottom: var(--margin-lg);
}

.carousel__heading {
  font-size: 4rem;
  color: white;
  margin: 0 auto var(--margin-lg) auto;
  width: 70%;
  text-shadow: var(--shadow);
}

.carousel__button {
  background-color: white;
  border: unset;
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius);
  font-weight: 600;
  box-shadow: var(--shadow);
  cursor: pointer;
}

.carousel__footer {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.timeline {
  padding: 2rem 1rem;
}

.bar-container {
  height: 3px;
  margin-bottom: 0.5rem;
  position: relative;
}

.bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--timeline-color);
}

.active-bar {
  position: absolute;
  height: 100%;
  animation-name: progress;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background-color: var(--timeline-active-color);
}

.info {
  font-size: var(--text-xs);
  color: var(--timeline-color);
}

.info.active {
  color: var(--timeline-active-color);
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
